.inviteUserContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
