.otherSavingContainer {
  background: #eee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 5px;
}
.modalImageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
