@import "./colors";

.daysCheckbox {
  margin-left: 3px;
}
.retailerWeekDays {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  margin-right: 5px;
  border: 1px solid $themePurple;
}
.retailerEmptyState {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
